<style>
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard .menu {
    width: 100vw;
    height: 10vh;
    min-width: 150px;
    min-height: 50px;
    position: relative;
  }
  .menubar {
    background: linear-gradient(45deg,#367ab9 0%, #749595 100%);
    width: 100%;
    height: 100%;
    position: sticky;
  }
  .menubar button {
    cursor: pointer;
    padding: 2px 6px;
    font-size: larger;
  }


  .menubar .top {
    height: 50px !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #4fa1c9 0%, #3e870d 100%);
    border-radius: 0px 0px 10px 10px;
  }
  .menubar .top #icon {
    font-size: 25px !important;
    background: none;
  outline: none;
  border: none;
  }
  .dashboard .directry {
    padding: 10px 0px;
    width: 100vw;
    overflow-y: auto;
    height:calc(45vh - 20px);
    min-height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .dashboard .recents {
    width: 100vw;
    height: 45vh;
    min-height: 100px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 0%;
    list-style: none;
  }
  .ul > li {
    width: 300px;
    height: 80px;
  }
  .ul > li > span {
    font-size: large;
    font-weight: bold;
  }
  .start-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  @media (min-width: 1000px) {
    .dashboard {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .dashboard .menu {
      width: 20vw;
      min-height: 100vh;
    }
    .dashboard .directry {
      width: 80vw;
      height: 65vh;
    }
    .dashboard .recents {
      width: 80vw;
      height: 35vh;
    }
    .menubar .top {
      height: 75px !important;
    }
    .menubar .top #icon {
      font-size: 50px !important;
    }
  }
</style>

<main class="dashboard">
  <section class="menu">
    <div class="menubar">
      <div class="top">
        @if (authService.auth.currentUser) {
        <button
          id="icon"
          class="material-symbols-outlined"
          routerLink="/dashboard"
        >
          dashboard
        </button>
        <!-- <span class="profile_icon" style="position: relative"> -->
          <button id="icon" class="material-symbols-outlined"  routerLink="/user-profile">
            account_circle
          </button>
          <!-- <span class="account_menu">
            <button>Profle</button>
            <button (click)="signOut()">Signout</button>
          </span> -->
        <!-- </span> -->
        }@else {

        <button
          routerLink="/canvas"
          style="font-weight: bold; width: 100%; border: none; outline: none; height: 100%;   background: linear-gradient(30deg, #4fc7c9 0%, #6609c3 100%);"
        >
          Try without Sign-In
        </button>
        <!-- <button routerLink="/sign-in">Sign-In</button> -->
        }
      </div>
      <div class="bottom" ></div>
    </div>
  </section>
  <section>
    <div
      class="recents"
      style="
        display: flex;
        flex-direction: column;

        row-gap: 20px;
        background: linear-gradient(30deg, #4fc7c9 0%, #6609c3 100%);
      "
    >
      <h3 style="margin: 0%; padding: 10px 0px; text-align: center">
        Welcome! Unleash your creativity with our powerful design tool.
      </h3>
      <!-- <p style="text-align: center; font-weight: bold; padding: 0px 30px">
        This app empowers you to bring your ideas to life with an intuitive
        interface and robust features, similar to popular design platforms like
        Figma and Canva.
      </p> -->
      <!-- <ul class="ul">
        <li>
          <span>Shape creation:</span> Effortlessly create various shapes,
          including lines, rectangles, circles, and more.
        </li>
        <li>
          <span>Customization:</span> Personalize your creations with diverse
          options like color, size, and position adjustments.
        </li>
        <li>
          <span>Export flexibility:</span> Seamlessly export your work as an
          image (JPG, PNG) or PDF, allowing for easy sharing and integration.
        </li>
      </ul> -->
      <div class="start-explore">
        <!-- <h4>Start exploring and turn your vision into reality!</h4> -->
        <button
          style="
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 10px;
            font-size: large;
            cursor: pointer;
            background: linear-gradient(30deg, #4fc7c9 0%, #6609c3 100%);
          "
          [routerLink]="authService.auth.currentUser?'/dashboard':'/sign-in'"
        >
          Get Started Now
        </button>
      </div>
    </div>
    <div
      class="directry"
      style="background: linear-gradient(45deg, #c94f74 0%, #3e870d 100%)"
    >
      @for (project of demo_projects; track $index) {
      <app-preview-card
        class="card"
        style="overflow: auto"
        [style]="{ backgroundColor: 'gray' }"
        [objects]="project"
        [id]="project.id"
        [dimension]="{ width: 250, height: 150 }"
      />
      }
    </div>
  </section>
</main>
