<style>
  .independent-layer {
    position: relative;
    padding: 5px 0px;
    border: 2px solid rgb(162, 160, 160);
    /* background-color: rgb(162, 160, 160); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    min-height: 20px;
  }
  .toMove_before::before {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    left: 10%;
    background-color: aquamarine;
    top: 0px;
  }
  .toMove_after::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    left: 10%;
    background-color: aquamarine;
    bottom: 0px;
  }

  app-layer-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    width: 100%;
    height: fit-content;
  }

  .independent-layer > span {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
  .independent-layer > span > button {
    font-size: medium;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .group {
    border: 2px solid gray;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .independent-layer:hover {
    border: 2px solid rgb(0, 106, 255);
  }
</style>
@if(group_id==null){
<div
  style="
    width: 100%;
    height: 30px;
    background-color: rgb(83, 137, 177);
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <span
    style="
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    @if (canvasService.totalChanges.size) {

    {{ canvasService.totalChanges.size }} changes done
    <button (click)="saveObjectsToDB.emit()" style="margin: 0px 3px">
      Save
    </button>
    }
  </span>
  <!-- <span> -->
  <span
    class="material-symbols-outlined"
    style="
      width: 10%;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    "
    (click)="canvasService.toggleLayoutVisibility(['layer_panel'], false)"
  >
    arrow_back_ios
  </span>
  <!-- </span> -->
</div>
} @if(layerService.context_menu){
<app-layer-panel-context-menu
  style="z-index: 2"
  (onGroup)="layerService.createGroup()"
  [position]="layerService.context_menu"
/>
} @for (obj of layers; track $index) { @if(obj.type==='group'){

<div class="group">
  <div
    class="independent-layer {{
      isEqualToChangeOrder_to($index, group_id)
        ? layerService.changeOrder &&
          canvasService.seriesIndex(obj._id)! <
            canvasService.seriesIndex(layerService.changeOrder.from.obj_id)!
          ? 'toMove_before'
          : 'toMove_after'
        : ''
    }}"
    style="margin-bottom: 2px"
    [style]="{
      backgroundColor: canvasService.idsOfSelectedObj.includes(obj._id)
        ? 'rgb(162, 160, 100)'
        : 'rgb(162, 160, 160)'
    }"
    (contextmenu)="layerService.onContextClickAtLayer($event, obj)"
    (mousemove)="layerService.setPositionToMove(group_id, $index)"
  >
    <span style="width: 15%" class="Triangle">
      <button
        (click)="
          obj.isMinimized =
            obj.isMinimized === undefined ? false : !obj.isMinimized
        "
        class="material-symbols-outlined"
      >
        {{ obj.isMinimized ? "expand_less" : "expand_more" }}
      </button>
    </span>
    @if(layerService.renameLayerForm&&layerService.renameLayerForm.layerId===obj._id){
    <span
      (mousedown)="layerService.setObjToMove(obj._id, group_id, $index)"
      style="width: 75%; cursor: default; user-select: none"
    >
      <input
        style="text-align: center; width: 100%"
        (input)="layerService.onLayerRename($event.target)"
        type="text"
        name="name"
        id="name"
        [value]="layerService.renameLayerForm.name"
      />
    </span>
    }@else {

    <span
      (dblclick)="onDblClick(obj._id, obj.name)"
      (mousedown)="layerService.setObjToMove(obj._id, group_id, $index)"
      style="width: 60%; cursor: default; user-select: none"
      (click)="layerService.onLeftClick($event, obj, group_id)"
      >{{ obj.name }}</span
    >
    }
    <span style="width: 25%">
      <button
        class="material-symbols-outlined"
        (click)="$event.stopPropagation(); layerService.toggleVisibility(obj)"
      >
        {{ obj.visible ? "visibility " : " visibility_off" }}
      </button>
      <button
        class="material-symbols-outlined"
        (click)="
          $event.stopPropagation(); layerService.toggleControllability(obj)
        "
      >
        {{ obj.selectable ? "lock_open_right" : "lock" }}
      </button>
    </span>
  </div>
  @if(obj.isMinimized===false){
  <app-layer-panel [layers]="obj._objects" [group_id]="obj._id" />
  }
</div>
}@else {

<div
  class="independent-layer {{
    isEqualToChangeOrder_to($index, group_id)
      ? layerService.changeOrder &&
        canvasService.seriesIndex(obj._id)! <
          canvasService.seriesIndex(layerService.changeOrder.from.obj_id)!
        ? 'toMove_before'
        : 'toMove_after'
      : ''
  }}"
  (click)="layerService.onLeftClick($event, obj, group_id)"
  [style]="{
    backgroundColor: canvasService.idsOfSelectedObj.includes(obj._id)
      ? 'rgb(162, 160, 100)'
      : 'rgb(162, 160, 160)'
  }"
  (contextmenu)="layerService.onContextClickAtLayer($event, obj)"
  (mousemove)="layerService.setPositionToMove(group_id, $index)"
>
  @if
  (layerService.renameLayerForm&&layerService.renameLayerForm.layerId==obj._id)
  {
  <!-- (dblclick)="onDblClick(obj._id, obj.name)" -->
  <span
    (mousedown)="layerService.setObjToMove(obj._id, group_id, $index)"
    style="width: 75%; cursor: default; user-select: none"
  >
    <input
      style="text-align: center; width: 100%"
      (input)="layerService.onLayerRename($event.target)"
      type="text"
      name="name"
      id="name"
      [value]="layerService.renameLayerForm.name"
    />
  </span>
  }@else {
  <span
    (click)="layerService.renameLayerForm && layerService.exitLayerRenameForm()"
    (dblclick)="onDblClick(obj._id, obj.name)"
    (mousedown)="layerService.setObjToMove(obj._id, group_id, $index)"
    style="width: 75%; cursor: default; user-select: none"
    >{{ obj.name }}</span
  >
  }
  <span style="width: 25%">
    <button
      class="material-symbols-outlined"
      (click)="$event.stopPropagation(); layerService.toggleVisibility(obj)"
    >
      {{ obj.visible ? "visibility " : " visibility_off" }}
    </button>
    <button
      class="material-symbols-outlined"
      (click)="
        $event.stopPropagation(); layerService.toggleControllability(obj)
      "
    >
      {{ obj.selectable ? "lock_open_right" : "lock" }}
    </button>
  </span>
</div>
} }
