<style>
  .material-symbols-outlined:hover {
    color: white;
  }
</style>
<div
  style="
    width: fit-content;
    height: fit-content;
    overflow-y: auto;
    position: relative;
  "
>
  @if(admin_controls){
  <span
    style="
      position: absolute;
      top: 0%;
      right: 0%;
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    "
  >
    <span
      (click)="deleteProject()"
      class="material-symbols-outlined"
      style="cursor: pointer; z-index: 3"
    >
      delete
    </span>
    @if (authService.isDeveloper) {

    <span
      (click)="markPromotional()"
      class="material-symbols-outlined"
      style="cursor: pointer; z-index: 3"
      [style]="{ color: project?.promotional ? 'yellow' : '' }"
    >
      public
    </span>
    }
  </span>
  }
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      background: transparent;
      cursor: pointer;
    "
    [routerLink]="admin_controls?'/canvas/' + id:'/canvas/demo/' + id"
    
  ></div>
  <canvas style="z-index: 0" [id]="id"></canvas>
</div>

<!-- <button style="z-index: 10;" (click)="test()">test</button> -->
