<style>
  .propertyBar {
    /* margin: 0px 4px; */
    /* border-radius: 10px; */
    padding: 5px;
    /* background-color: gray; */
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    height: 95%;
    overflow: scroll;
  }
  app-commom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }
</style>

<div
  style="
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgb(83, 137, 177);
  "
>
  <span
    class="material-symbols-outlined"
    style="cursor: pointer"
    (click)="canvasService.toggleLayoutVisibility(['property_panel'], false)"
  >
    arrow_forward_ios
  </span>
  <span
    class="material-symbols-outlined"
    style="cursor: pointer"
    (click)="canvasService.preview_scence_toggle()"
  >
    {{
      canvasService.viewport_refs.preview_scence?.pre_trans_target
        ? "preview"
        : "preview_off"
    }}
  </span>
</div>
<div class="propertyBar" id="propertyBar">
  @if(canvasService.oneDarrayOfSelectedObj.length&&
  !canvasService.editingPath&&!showColorPicker){
  <h4 style="margin: 0px">
    <span style="padding: 0px 5px">{{
      canvasService.oneDarrayOfSelectedObj.length > 1
        ? "Group"
        : canvasService.oneDarrayOfSelectedObj[0].type
    }}</span>
  </h4>
  <app-commom (onInputClick)="onInputClick($event)" />
  <span
    style="
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 10px;
      padding: 10px 0px;
    "
  >
    <button
      style="cursor: pointer"
      class="material-symbols-outlined"
      (click)="onDeleteClick()"
    >
      delete
    </button>
  </span>
  }@else if (canvasService.editingPath&&!showColorPicker) {
  <app-edit-path />
  }@else if
  (canvasService.oneDarrayOfSelectedObj.length&&showColorPicker&&targetNameToColor)
  {
  <!-- canvasService.oneDarrayOfSelectedObj[0][targetNameToColor] -->
    <!-- [inputColor]="
    " -->
  <app-color-picker
    [width]="getEleWidth"
    (onColorChnage)="onColorChange($event)"
    [targetNameToColor]="targetNameToColor"
    />
    <!-- [colorPresets]="colorPreset" -->
  <button (click)="closeColorPicker()" style="width: 100%">close</button>
  } @else {
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    "
  >
    <span
      class="material-symbols-outlined"
      style="cursor: pointer"
      (click)="canvasService.setViewPortTransform(0, 0)"
    >
      transform
    </span>
    <span
      class="material-symbols-outlined"
      style="cursor: pointer"
      (click)="canvasService.reRender()"
    >
      refresh
    </span>
  </div>
  }
</div>
