<style>
  .propertyCard {
    padding-bottom: 15px;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid black;
  }
  .propertyCard > div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .propertyCard > div > span {
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .propertyCard button {
    font-size: larger;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .propertyCard span label {
    font-size: small;
  }

  .propertyCard span input {
    width: 50px;
    text-align: center;
    background: none;
    outline: none;
    border: none;
    font-size: small;
    font-weight: bold;
  }

  .color_box {
    width: 20px !important;
    height: 20px !important;
    border-radius: 2px;
    background: silver !important;
    padding: 2px;
    overflow: hidden;
  }
  #add-remove {
    outline: none;
    border: none;
    background: none;
    font-size: large;
    cursor: pointer;
  }
</style>
 
@for (common of getFieldsList(); track $index) {
<div class="propertyCard">
  <h6
    style="
      margin: 4px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    "
  >
    <span>{{ common.title }}</span>

    @if (common.buttons &&canvasService.oneDarrayOfSelectedObj.length===1) { @if(isValueExist(common.keys)){
    <span
      style="cursor: pointer; font-size: large; padding-right: 10px"
      (click)="common.buttons.remove(common.keys)"
      class="material-symbols-outlined"
    >
      remove
    </span>
    }@else {

    <span
      style="cursor: pointer; font-size: large; padding-right: 10px"
      (click)="common.buttons.add(common.keys)"
      class="material-symbols-outlined"
    >
      add
    </span>
    } }
  </h6>
  <div>
    @if(canvasService.oneDarrayOfSelectedObj.length===1){ @for (key of common.keys; track
    $index) { @if(isThisKeyRequired(key) &&
    showElement(common.keys,common.title)){
    <span>
      <label [for]="key.key">
        {{ key.lable }}
      </label>
      <input
        [max]="key.max"
        [min]="key.min"
        [step]="key.step"
        [class]="key.inputBox_type == 'color' ? 'color_box' : ''"
        [type]="key.inputBox_type"
        [name]="key.key"
        [id]="key.key"
        (input)="onChange($event)"
        [value]="key.pipe(getValue(key.key))"
        [checked]="getValue(key.key)"
      />
    </span>
    } } }
  </div>
</div>
<!-- @if(canvasService.oneDarrayOfSelectedObj[0].type=='rect' &&
common.title.toLowerCase()=='stroke' ){ @for (field of rectFields; track $index)
{
<div class="propertyCard">
  <h6
    style="
      margin: 4px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    "
  >
    {{ field.title }}

    @if (field.buttons&&canvasService.oneDarrayOfSelectedObj.length===1) { @if(isValueExist(field.keys)){
    <span
      style="cursor: pointer; font-size: large; padding-right: 10px"
      (click)="field.buttons.remove(field.keys)"
      class="material-symbols-outlined"
    >
      remove
    </span>
    }@else {

    <span
      style="cursor: pointer; font-size: large; padding-right: 10px"
      (click)="field.buttons.add(field.keys)"
      class="material-symbols-outlined"
    >
      add
    </span>
    } }
  </h6>
  <div>
    @if(canvasService.oneDarrayOfSelectedObj.length===1){ @for (key of field.keys; track
    $index) { @if(isThisKeyRequired(key)&&showElement(field.keys,field.title)){
    <span>
      <label [for]="key.key">
        {{ key.lable }}
      </label>
      <input
        [max]="key.max"
        [min]="key.min"
        [step]="key.step"
        [class]="key.inputBox_type == 'color' ? 'color_box' : ''"
        [type]="key.inputBox_type"
        [name]="key.key"
        [id]="key.key"
        (input)="onChange($event)"
        [value]="key.pipe(canvasService.oneDarrayOfSelectedObj[0][key.key])"
        [checked]="canvasService.oneDarrayOfSelectedObj[0][key.key]"
      />
    </span>
    } } }
  </div>
</div>
} } -->

}
