<style>
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .dashboard .menu {
    width: 100vw;
    height: 10vh;
    min-width: 150px;
    min-height: 90px;
    position: relative;
  }
  .menubar {
    background: linear-gradient(45deg, #367ab9 0%, #749595 100%);
    width: 100%;
    height: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .menubar button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .menubar .top {
    height: 50px !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(62, 122, 120);
    border-radius: 0px 0px 10px 10px;
  }
  #icon {
    font-size: 25px !important;
  }
  .dashboard .directry {
    width: 100vw;
    height: 100vh;
    min-height: 100px;
    background-color: gray;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    gap: 5px;
    overflow-y: auto;
    padding-bottom: 5px;
  }
  .card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
  }
  @media (min-width: 1000px) {
    .dashboard {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .dashboard .menu {
      width: 20vw;
      min-height: 100vh;
    }
    .dashboard .directry {
      width: 80vw;
      height: calc(100vh - 5px);
    }
    .menubar .top {
      height: 75px !important;
    }
    #icon {
      font-size: 50px !important;
    }
  }
</style>

<main class="dashboard">
  @if (creatingNewProject) {
  <section
    style="
      z-index: 4;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.678);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      column-gap: 10px;
    "
  >
    @if (canvasService.layout.visibility.frame_selection_panel) {
    <app-frame-selection-panel />
    }@else {
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #749595;
      "
      [style]="{
        width: 300 + 'px',
        height: 300 * (canvasService.frame.y / canvasService.frame.x) + 'px'
      }"
    >
      <span style="display: flex; justify-content: center; align-items: center">
        {{ canvasService.frame.x
        }}<span class="material-symbols-outlined"> close </span
        >{{ canvasService.frame.y }}
      </span>
    </div>
    <button
      (click)="canvasService.layout.visibility.frame_selection_panel = true"
      style="
        margin: 10px;
        background: rgba(4, 119, 139, 0.915);
        border-radius: 12px;
        width: 300px;
        border: none;
        outline: none;
        height: 30px;
        text-transform: uppercase;
        cursor: pointer;
      "
    >
      Change frame
    </button>
    <button
      (click)="
        canvasService.layout.visibility.frame_selection_panel = false;
        creatingNewProject = false;
        createProject()
      "
      style="
        margin: 10px;
        text-transform: uppercase;
        border-radius: 12px;
        width: 300px;
        border: none;
        outline: none;
        height: 30px;
        background: linear-gradient(0deg, #3584e4 0%, #aac7ba 100%);
        cursor: pointer;
      "
    >
      Create
    </button>
    <button
      (click)="
        canvasService.layout.visibility.frame_selection_panel = false;
        creatingNewProject = false
      "
      style="
        margin: 10px;
        text-transform: uppercase;
        background: rgb(75, 74, 74);
        border-radius: 12px;
        width: 300px;
        border: none;
        outline: none;
        height: 30px;
        cursor: pointer;
      "
    >
      Cancel
    </button>

    }
  </section>
  }
  <section class="menu">
    <div class="menubar">
      <div
        class="top"
        style="background: linear-gradient(45deg, #4fa1c9 0%, #3e870d 100%)"
      >
        <button
          id="icon"
          class="material-symbols-outlined"
          routerLink="/welcome"
        >
          <!-- (click)="createProject()" -->
          home
        </button>
        <span class="profile_icon" style="position: relative">
          <button
            id="icon"
            class="material-symbols-outlined"
            routerLink="/user-profile"
          >
            account_circle
          </button>
        </span>
      </div>

      <button
        (click)="
          canvasService.layout.visibility.frame_selection_panel = true;
          creatingNewProject = true
        "
        id="icon"
        class="material-symbols-outlined"
        style="
          margin: 10px;
          background: gray;
          border-radius: 18px;
          width: 80%;
          border: none;
          outline: none;
          height: 50px;
          background: linear-gradient(0deg, #3584e4 0%, #aac7ba 100%);
        "
      >
        add
      </button>
      <div class="bottom"></div>
    </div>
  </section>
  <section>
    <div
      class="directry"
      style="
        overflow-y: auto;
        padding-bottom: 5px;
        background: linear-gradient(45deg, #c94f74 0%, #3e870d 100%);
      "
    >
      @if(authService.isDeveloper){
      <div
        style="
          width: 100%;
          height: 50px;
          background: linear-gradient(30deg, #4fc7c9 0%, #6609c3 100%);

          align-self: flex-start;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
        "
      >
        <span
          style="
            padding: 5px 10px;
            border-radius: 5px;
            font-size: large;
            cursor: pointer;
            /* background: linear-gradient(30deg, #4fc7c9 0%, #6609c3 100%); */
          "
          [style]="{
            cursor: 'pointer',
            backgroundColor: projectType == 'promotional' ? 'gray' : ''
          }"
          (click)="onClickPromotionalTab(); projectType = 'promotional'"
        >
          Promotional
        </span>
        <span
          style="
            padding: 5px 10px;
            border-radius: 5px;
            font-size: large;
            cursor: pointer;
            /* background: linear-gradient(30deg, #4fc7c9 0%, #6609c3 100%); */
          "
          [style]="{
            cursor: 'pointer',
            backgroundColor: projectType == 'my' ? 'gray' : ''
          }"
          (click)="projectType = 'my'"
        >
          My
        </span>
      </div>
      }
      <div
        style="
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 10px;
          padding: 10px 0px;
          flex-wrap: wrap;
        "
      >
        @for (project of myProject; track $index) {

        <!-- [routerLink]="'/canvas/' + project.id" -->
        <app-preview-card
          class="card"
          style="overflow: hidden"
          [style]="{ backgroundColor: 'dimgray' }"
          [project]="project"
          [id]="project.id"
          [dimension]="{ width: 250, height: 150 }"
          [admin_controls]="true"
        />
        } @empty {
        <p style="align-self: flex-start; font-size: x-large">empty</p>
        }
      </div>
    </div>
  </section>
</main>
