<div
style="
  width: 15vw;
  min-width: 230px;
  height: 100vh;
  background-color: rgba(89, 89, 89, 1);
  position: absolute;
  right: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
"
(click)="$event.stopPropagation()"
>
<div
  style="
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  "
>
  <h3
    style="
      width: 100%;
      font-size: large;
      font-weight: bold;
      text-align: center;
      background-color: rgba(131, 131, 131, 1);
      padding: 5px 0px;
      margin: 0%;
    "
  >
    Setting
  </h3>
  <button
    style="
      width: 100%;
      font-size: large;
      text-align: start;
      padding: 4px 4px;
      font-weight: bold;
      color: white;
      outline: none;
      border: none;
      background: none;
      display: flex;
      justify-content: space-between;
    "
  >
    <label for="background-color">Background</label>
    <input
      style="
        outline: none;
        border: none;
        padding: 0%;
        width: 20px;
        height: 20px;
      "
      type="color"
      name=""
      id="background-color"
    />
  </button>
</div>
</div>