<style>
  main {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .loader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    color: white;
    background-color: rgba(1, 116, 142, 0.616);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-tool-bar,
  app-layer-panel,
  app-property-panel {
    background-color: gray;
  }
  app-tool-bar {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    row-gap: 10px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  app-layer-panel {
    left: 0px;
    height: 100vh;
    width: 15vw;
    min-width: 230px;
    min-height: 500px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 2px;
    overflow-y: scroll;
  }

  app-property-panel {
    min-width: 230px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100vh;
    right: 0;
    top: 0;
    flex-direction: column;
  }
  #inputTextArea {
    position: absolute;
    z-index: 2;
  }
  main > canvas {
    top: 0%;
    left: 0%;
  }
  main > #mouse {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: aqua;
    z-index: 10;
  }
  @media (max-width: 1000px) {
    app-tool-bar {
      /* display: none; */
      flex-wrap: wrap;
    }
  }
</style>




<main class="main">
  @if(is_goodToGo&& canvasService.layout.visibility.export_panel){
  <app-export />
  } @if( is_goodToGo&& canvasService.layout.visibility.layer_panel){
  <app-layer-panel
    [layers]="canvasService.objects"
    [group_id]="null"
    [projectId]="canvasService.projectId"
  />
  }

  <section
    (wheel)="zoomBoard($event)"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)"
    style="
      position: relative;
      flex: 1;
      width: 70vw;
      height: 100%;
      background-color: yellowgreen;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;
      overflow: hidden;
    "
    class="canvas-board"
  >
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        column-gap: 10px;
        width: 100%;
        position: absolute;
        top: 0%;
        z-index: 2;
        min-height: 32px;
      "
    >
      @if(!canvasService.layout.visibility.layer_panel){
      <button
        class="material-symbols-outlined"
        style="
          position: absolute;
          left: 0;
          cursor: pointer;
          outline: none;
          border: none;
          background: none;
        "
        (click)="canvasService.toggleLayoutVisibility(['layer_panel'], true)"
      >
        arrow_forward_ios
      </button>
      }@else {
     
      } @if(is_goodToGo&& canvasService.layout.visibility.tool_panel){
      <app-tool-bar />
      }
      <button
        class="material-symbols-outlined"
        style="cursor: pointer; outline: none; border: none; background: none"
        (click)="canvasService.toggleLayoutVisibility(['tool_panel'])"
      >
        {{
          canvasService.layout.visibility.tool_panel
            ? "expand_less"
            : "expand_more"
        }}
      </button>
      @if(!canvasService.layout.visibility.property_panel){
      <button
        class="material-symbols-outlined"
        style="
          position: absolute;
          right: 0;
          cursor: pointer;
          outline: none;
          border: none;
          background: none;
        "
        (click)="canvasService.toggleLayoutVisibility(['property_panel'], true)"
      >
        arrow_back_ios
      </button>
      }
    </div>
    <canvas id="canvas"></canvas>
  </section>
  @if(is_goodToGo&& canvasService.layout.visibility.property_panel){
  <app-property-panel />
  }
  
  @if(canvasService.layout.visibility.setting_panel||canvasService.layout.visibility.menu_panel||canvasService.layout.visibility.frame_selection_panel){
  <section
    style="
      position: absolute;
      top: 0%;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #0707078a;
      z-index: 3;
    "
    (click)="
      $event.stopPropagation();
      canvasService.toggleLayoutVisibility(
        ['setting_panel', 'menu_panel'],
        false
      )
    "
  >
    @if(canvasService.layout.visibility.menu_panel){
    <app-menu-panel />
    } @if(canvasService.layout.visibility.setting_panel){
    <app-setting-panel /> }
    @if(canvasService.layout.visibility.frame_selection_panel){
    <app-frame-selection-panel
      style="
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    />
    }
  </section>
  }
</main>
@if (!is_goodToGo) {
  <div class="loader">
    <h3>Connecting to server</h3>
  </div>
}