<style>
  .main_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 116, 142, 0.616);
  }

  .form {
    z-index: 10;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    position: relative;
  }
  .form input {
    padding: 5px 10px;
    width: 290px;
  }
  .form button {
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .form #filetype {
    width: 100px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .closeBtn > .closeIcon {
    font-size: larger;
  }
</style>
<div class="main_panel">
  <div
    class="form"
    [style]="{
      width: window.innerWidth / 2 + 'px',
      height: window.innerHeight / 2 + 'px'
    }"
    style="min-width: 320px;min-height: 400px;"
  >
    @if(uploadStatus.status!='uploading'){
    <div
      style="
        width: 100%;
        height: 10%;
        padding: 5px 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 10px;
      "
    >
      <button
        (click)="inputType = 1"
        [style]="{ backgroundColor: inputType == 1 ? 'gray' : '' }"
      >
        Brows
      </button>
      <button
        (click)="inputType = 2"
        [style]="{ backgroundColor: inputType == 2 ? 'gray' : '' }"
      >
        Link
      </button>
      <button
        (click)="inputType = 3; dbService.getMyImages()"
        [style]="{ backgroundColor: inputType == 3 ? 'gray' : '' }"
      >
        Uploads
      </button>
    </div>
    <div
      style="
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      "
    >
      @if(imageObject&&imageObject.height && imageObject.width&&inputType!=3){
      <img
        [src]="imageObject.getSrc()"
        alt="preview"
        [style]="{
          width: 100 + 'px',
          height: 100 * (imageObject.height / imageObject.width) + 'px'
        }"
      />
      } @if(inputType==1){

      <input
        type="file"
        name="fileInput"
        id="fileInput"
        #fileInput
        accept="image/*"
        (change)="onImageInput(fileInput.files)"
      />
      } @else if (inputType==2) {

      <input type="text" id="link" placeholder="link" [formControl]="link" />
      <button (click)="loadImageLink(link.value)">Preview</button>
      } @else if (inputType==3) {
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 5px;
          column-gap: 5px;
          width: 100%;
          height: 100%;
        "
      >
        @for (img of dbService.images$|async; track $index) {
        <img
          [src]="img"
          [alt]="img + $index"
          style="
            width: 100px;
            height: 100px;
            object-fit: contain;
            border-radius: 10px;
          "
          [style]="{
            border: imageObject?.getSrc()==img ? '3px solid blue' : '3px solid gray'
          }"
          (click)="loadImageLink(img)"
        />
        }
      </div>
      }
    </div>
    <div style="width: 100%; height: 10%;">
      @if (imageObject) {
      <button style="width: 100%; height: 100%;" (click)="openBtn()">Open</button>
      }
    </div>

    <button class="material-symbols-outlined closeBtn" (click)="close.emit()">
      close
    </button>
    }@else {
    <p>Uploading : {{ uploadStatus.percent }} %</p>
    }
  </div>
</div>
